html, body {
  width: 100%;
  height:100%;
}

body{
  font-family: 'arial',;
  font-size: 22px;

}


#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: calc(25vh - 10px) calc(25vh - 10px) calc(30vh - 10px) calc(20vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-image: url("../img/maleta-vacia.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#container .titulo{
  grid-row: 2/3;
  grid-column: 1/3;
  text-align: center;

}

#container .logobarres{
  grid-row: 4/5;
  grid-column: 2/3;
  text-align: center;

}

#container2{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(10vh - 10px) calc(60vh - 10px) calc(10vh - 10px) calc(20vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-image: url("../img/Cinta.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#container2 .logomhic{
  grid-row: 4/5;
  grid-column: 1/3;
  text-align: center;

}

#container2 .copyright{
  grid-row: 4/5;
  grid-column: 3/5;
  text-align: center;

}

#container2 .barresmigra{
  grid-row: 4/5;
  grid-column: 5/7;
  text-align: center;

}

#container2 .flechaizq{
  padding-top: 100%;
  padding-bottom: 50%;
  padding-left: 30%;
  grid-row: 2/3;
  grid-column: 2/3;

}

#container2 .flechaizq img{
  width: 50%;
  height: 50%;

}

#container2 .flechaderecha{
  padding-top: 100%;
  padding-bottom: 50%;
  padding-left: 30%;
  grid-row: 2/3;
  grid-column: 5/6;

}

#container2 .flechaderecha img{
  width: 50%;
  height: 50%;

}

#container2 .GRUP3{
  padding-top: 25%;
  grid-row: 2/3;
  grid-column: 3/5;
}

#grupo3{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(20vh - 10px) calc(5vh - 10px) calc(20vh - 10px) calc(10vh - 10px) calc(20vh - 10px) calc(10vh - 10px) calc(5vh - 10px) calc(10vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #ADBFF5;
  background-repeat: no-repeat;
  background-size: cover;

}

#grupo3 .fotogrupo3{
  grid-row: 1/3;
  grid-column: 1/3;
  text-align: center;

}

#grupo3 .fotogrupo3 img{
  width: 50%;
  height: 100%;

}

#grupo3 .proyectomaleta{
  grid-row: 1/3;
  grid-column: 3/6;
  text-align: center;

}

#grupo3 .proyectomaleta img{
  width: 50%;
  height: 100%;

}

#grupo3 .inicio{
  grid-row: 7/9;
  grid-column: 2/4;
  text-align: center;

}

#grupo3 .inicio img{
  width: 30%;
  height: 80%;
  padding-top: 2%;

}

#grupo3 .logomhic{
  grid-row: 7/9;
  grid-column: 1/3;
  text-align: center;
  padding-right: 20%;
}


#grupo3 .barresmigra{
  grid-row: 7/9;
  grid-column: 4/6;
  text-align: center;

}

#grupo3 .muro{
  grid-row: 5/6;
  grid-column: 3/6;
  text-align: center;

}

#grupo3 .muro img{
  width: 90%;
  height: 100%;

}

#grupo2{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: calc(20vh - 10px) calc(5vh - 10px) calc(20vh - 10px) calc(10vh - 10px) calc(20vh - 10px) calc(10vh - 10px) calc(5vh - 10px) calc(10vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #ADBFF5;
  background-repeat: no-repeat;
  background-size: cover;

}
